.home{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    display: flex;
}



.gambar{
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.card{
    margin-right: 20px;
}